* {
  box-sizing: border-box;
}

html, body, button, input {
  font-family: Helvetica, Arial, sans-serif;
  overflow: hidden;
}

html, body, main, .App, #root {
  height: 100%;
  display: flex;
  flex-direction: column;
}

span {
  padding: 5px;
}

button {
  cursor: pointer;
}

input {
  height: auto;
  border: 1px solid grey;
  padding: 5px;
  width: 100%;
  margin: 0;
}

header {
  padding: 10px;
  border-bottom: darkgray solid 1px;
}

form {
  padding-top: 15px;
}

.block {
  display: block;
}

.button-send {
  background: purple;
  color: white;
  border-radius: 5px;
  padding: 10px;
  height: 40px;
  width: 90px;
}

.center-element {
  float: none;
  margin-left: auto;
  margin-right: auto;
}

.content {
  overflow: hidden;
}

.flex {
  display: flex;
}

.flex-center {
  justify-content: center;
}

.flex-column {
  flex-direction: column;
}

.flex-column-expand {
  height: 100%;
  flex-direction: column;
}

.container {
  width: 100%;
  padding: 15px;
}

.flex-space-between {
  justify-content: space-between;
}

.flex-row {
  flex-direction: row;
}

.input-send {
  height: 40px;
}

.messages {
  overflow-y: scroll;
}

.message {
  padding: 10px;
}

.user {
  border-radius: 5px;
  background: purple;
  color: white;
}

.bot {
  border: 1px solid purple;
  border-radius: 5px;
  color: purple;
}